

<div class="pagetitle">
    <h1>List of Members</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <!--<<li class="breadcrumb-item">Users</li>-->
        <li class="breadcrumb-item active">List of Members</li>
      </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">

    <div class="col-xl-8">
        <div class="card" >
            <div class="card-body pt-3">
                <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Approved</button>
                    </li>
      
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Pending</button>
                    </li>
                </ul>

                <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">

                        <h5 class="card-title">List of Members</h5>
                        <div class="card-body">
                            <table class="table table-bordered" >
                                <thead>
                                  <tr>
                               
                                    <th scope="col">Flat No</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">User Id</th>
                                    <th scope="col">Ph No.</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {%for member in members %}
                                  <tr data-id="{{member[2]}}">
                                    <td>{{member[29]}}</td>
                                    <td>{{member[3]}}</td>
                                    <td>{{member[2]}}</td>
                                    <td>{{member[5]}}</td>
                                    {%if member[1] == 2%}
                                      <td>Secretary</td>
                                    {%elif member[1] == 3%}
                                      <td>Treasurer</td>
                                    {%elif member[1] == 4%}
                                      <td>Resident</td>
                                    {%endif%}
                                    <td>
                                      <button type="button" class="btn btn-danger rounded-pill mdelete-btn" data-id="{{member[2]}}">
                                        Delete
                                      </button>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <h5 class="card-title">Approve Member</h5>

                        <table class="table table-bordered">
                          <tr>
                              <th scope="col">Flat number</th>
                              <th scope="col">Member Name</th>
                              <th scope="col">User Id</th>
                              <th scope="col">Phone Number</th>
                              <th scope="col">Registration Date</th>
                              <th scope="col">Action</th>
                              <th data-type="date" data-format="YYYY/DD/MM">Action Date</th>
                          </tr>
                          {% for member in approving_needed %}
                          <tr row-id="{{member[2]}}">
                              <td scope="row">{{member[29]}}</td>
                              <td scope="row">{{member[3]}}</td>
                              <td scope="row">{{member[2]}}</td>
                              <td scope="row">{{member[5]}}</td>
                              <td scope="row">{{member[8]}}</td>
                              {% if member[10]==0 %}
                                <td>Rejected</td>
                              {%elif member[7]%}
                                <td>Approved</td>
                              {%else%}
                                <td scope="row">
                                  <div class="action-buttons">
                                    <button class="approve-button" onclick="handleApproveSecretary(this)">Approve</button>
                                    <button class="reject-button" onclick="handleRejectSecretary(this)">Reject</button>
                                  </div>
                                </td>
                              {% endif %}
                              <td>{{member[9] or 'N/A'}}</td>
                          </tr>
                          {%endfor%}
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      
        
        

        
        
       

       

       

       


  


