

    <div class="pagetitle">
      <h1>Documents</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          
          <li class="breadcrumb-item active">Documents</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        
        <div class="card-body">
          <h5 class="card-title">Upload your File</h5>
    
          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              
            </div>
            <div class="ps-3">
              <h6></h6>
              <a href="{{url_for('document.document_form')}}" target="_parent">
                <button type="submit">Fill Form</button>
              </a>
    
              <!--<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->
    
            </div>
          </div>
        </div>
    
      </div>
    </div><!-- End Sales Card -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Documents Details</h5>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Document id</th>
                    <th scope="col">Document name</th>
                    <th scope="col">File</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr data-item-id="{{item.item_id}}" class="tr-dim">
                    <td>{{ item.document_id }}</td>
                    <td>{{ item.doc_name }}</td>

                    <td><a href="{{ url_for('document.download', file_id=item.document_id) }}">{{ item.doc_name }}</a></td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <!--<div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>

        </div>-->
      </div>
    </section>
