

    <div class="pagetitle">
      <h1>List of Members</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <!--<<li class="breadcrumb-item">Users</li>-->
          <li class="breadcrumb-item active">List of Members</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">

      <div class="col-xl-8" >
        <div class="card" >
          <div class="card-body pt-3">

            <div class="tab-content pt-2">

              <!--<div class="tab-pane fade show active profile-overview" id="profile-overview">-->
                <!--<h5 class="card-title">About</h5>
                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
                  -->
                <h5 class="card-title">List of Members</h5>
      
                <div class="card-body">
                  <!--<h5 class="card-title">Bordered Table</h5>-->
                  <!--<p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                  <!-- Bordered Table -->
                  <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th scope="col">Flat No</th>
                        <th scope="col">Member Name</th>
                        <th scope="col">User Id</th>
                        <th scope="col">Ph No.</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for member in members %}
                      <tr>
                        <td>{{member[13]}}</td>
                        <td>{{member[3]}}</td>
                        <td>{{member[2]}}</td>
                        <td>{{member[5]}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
      
                </div>
              </div>

          </div>

        </div>

      </div>

      
    </section>

  