
 

    <div class="pagetitle">
      <h1>List of Secretary</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <!--<<li class="breadcrumb-item">Users</li>-->
          <li class="breadcrumb-item active">List of Secretary</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">

      <div class="col-xl-8" >
        <div class="card" >
          <div class="card-body pt-3">

            <div class="tab-content pt-2">

              <!--<div class="tab-pane fade show active profile-overview" id="profile-overview">-->
                <!--<h5 class="card-title">About</h5>
                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
                  -->
                <h5 class="card-title">List of Secretaries</h5>
      
                <div class="card-body" text-align="left">
                  <!--<h5 class="card-title">Bordered Table</h5>-->
                  <!--<p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                  <!-- Bordered Table -->
                  <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th scope="col">Society Id</th>
                        <th scope="col">Secretary Name</th>
                        <th scope="col">Secretary Ph No.</th>
                        <th scope="col">Society Name</th>
                        <th scope="col">Society Address</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for secretary in secretaries %}
                      <tr>
                        <th scope="row">{{ secretary[0] }}</th>
                        <td>{{ secretary[3] }}</td>
                        <td>{{ secretary[5] }}</td>
                        <td>{{ secretary[13] }}</td>
                        <td>{{ secretary[14] }}</td>
                        {% if secretary[11] %}
                            <td><span class="badge bg-success">Active</span></td>
                        {% else %}
                            <td><span class="badge bg-warning">Not Active</span></td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
      
                </div>
              </div>

          </div>

        </div>

      </div>
      
    </section>

  
  