



<div class="pagetitle">
    <h1>List of Notices</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <!--<<li class="breadcrumb-item">Users</li>-->
        <li class="breadcrumb-item active">List of Notices</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        
        <div class="card-body">
          <h5 class="card-title">Issue Notice</h5>
    
          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              
            </div>
            <div class="ps-3">
              <h6></h6>
              <a href="{{url_for('secretary.issuenotice')}}" target="_parent">
                <button type="submit">Fill Form</button>
              </a>
    
              <!--<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->
    
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="col-xl-8" >
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Notices</h5>

              <!-- Table with stripped rows -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Sr.no</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Notice Type</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Post Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>                  
                  {% for notice in notices %}
                  <tr data-id="{{ notice[0] }}">
                    <td>{{ loop.index }}</td>
                    <td contenteditable="true" data-column="title" data-id="{{ notice[0] }}">{{notice[2]}}</td>
                    <td contenteditable="true" data-column="content" data-id="{{ notice[0] }}">{{notice[3]}}</td>
                    <td contenteditable="true" data-column="notice_type" data-id="{{ notice[0] }}" style="width: 120px;">
                      <select class="form-select">
                          <option value="General" {% if notice[4] == 'General' %} selected {% endif %}>General</option>
                          <option value="Urgent" {% if notice[4] == 'Urgent' %} selected {% endif %}>Urgent</option>
                          <option value="Reminder" {% if notice[4] == 'Reminder' %} selected {% endif %}>Reminder</option>
                          <option value="Event" {% if notice[4] == 'Event' %} selected {% endif %}>Event</option>
                      </select>
                  </td>
                  <td>{{notice[5]}}</td>
                    {%if notice[0]%}
                        <td>
                            <button type="button" class="btn btn-danger rounded-pill delete-btn" data-id="{{ notice[0] }}">
                            Delete
                            </button>
                        </td>
                    {%endif%} 
                  </tr>                  
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>

    </div>
    
  </section>

