

 

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <!--<li class="breadcrumb-item">Users</li>-->
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="data:image/jpeg;base64,{{ details.image }}" alt="Profile" class="rounded-circle">
              <h2> {{details.username}}</h2>
              <!--<h3>Web Designer</h3>-->
              <!--<div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>-->
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <!--<li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>-->

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <!--<h5 class="card-title">About</h5>
                  <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>-->

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">User Id:</div>
                    <div class="col-lg-9 col-md-8">{{member_data[2]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name:</div>
                    <div class="col-lg-9 col-md-8">{{member_data[3]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone:</div>
                    <div class="col-lg-9 col-md-8">{{member_data[5]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email:</div>
                    <div class="col-lg-9 col-md-8">{{member_data[4]}}</div>
                  </div>
                  {% if member_data[1] != 5%}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Flat Size(BHK):</div>
                    <div class="col-lg-9 col-md-8">{{ member_data[30] if member_data[30] else 'Please go to "Edit Profile" to fill in your flat size.'}}</div>
                  </div>
                  {%endif%}

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Registration Date:</div>
                    <div class="col-lg-9 col-md-8">{{member_data[8]}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address:</div>
                    <div class="col-lg-9 col-md-8">{{member_data[14]}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" action="{{url_for('profile.profile')}}" enctype="multipart/form-data" id="profileForm">
                    {{ form.hidden_tag() }}
            
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                          <img src="data:image/jpeg;base64,{{ details.image }}" alt="Profile">
                          <div class="pt-2">
                              <label class="btn btn-primary btn-sm" title="Upload new profile image">
                                  <i class="bi bi-upload"></i>
                                  <input type="file" name="profile_image" style="display: none;">
                              </label>
                              <a href="{{ url_for('profile.profile') }}" class="btn btn-danger btn-sm" title="Remove my profile image">
                                  <i class="bi bi-trash"></i>
                              </a>
                          </div>
                      </div>
                  </div>
            
                    <div class="row mb-3">
                        <label for="uid" class="col-md-4 col-lg-3 col-form-label">User Id:</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="uid" type="text" class="form-control" id="uid" value="{{ user.uid }}">
                            <span id="status-uid" class="span_style"></span>
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <label for="name" class="col-md-4 col-lg-3 col-form-label">Full Name:</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="name" type="text" class="form-control" id="name" value="{{ user.name }}">
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <label for="phone_no" class="col-md-4 col-lg-3 col-form-label">Phone:</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="phone_no" type="number" class="form-control" id="phone_no" value="{{ user.phone }}">
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email:</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="email" type="email" class="form-control" id="email" value="{{ user.email }}">
                        </div>
                    </div>
                    {% if member_data[1] != 5%}
                      <div class="row mb-3">
                          <label for="flat_size" class="col-md-4 col-lg-3 col-form-label">Flat Size:(BHK)</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="flat_size" type="text" class="form-control" id="flat_size" value="{{ user.flat_size if user.flat_size is not none else '' }}" placeholder="Please fill flat Size e.g. 3BHK">
                          </div>
                      </div>
                    {%endif%}
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <!--<form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form action="{{url_for('profile.change_password')}}" method="post" id="passwordForm">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                        <span id="status-password" class="span_style"></span>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
